@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 70px;
    background-color: #212121 !important;
}

.seccion-contenido {
    padding: 40px 0;
}

.seccion-contenido h2, .seccion-contenido h3 {
    margin-bottom: 20px;
}

.seccion-contenido p {
    margin-bottom: 20px;
}

.seccion-contenido .seccion-intro {
    background-color: #fff !important;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.seccion-contenido .seccion-intro img {
    max-width: 100%;
    height: auto;
}

.seccion-contenido .ejemplo, .seccion-contenido .ventajas, .seccion-contenido .desventajas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ejemplo h3, .ventajas h3, .desventajas h3 {
    color: #449bff;
}

.ejemplo pre {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.ejemplo table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: table;
}

.ejemplo table, .ejemplo th, .ejemplo td {
    border: 1px solid #ddd;
}

.ejemplo th, .ejemplo td {
    padding: 8px;
    text-align: center;
}

.ejemplo th {
    background-color: #449bff;
    color: white;
}


@media screen and (max-width: 600px) {
    .ejemplo table {
        font-size: 12px;
    }

}
